.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-weight: 500;
    color: var(--text-primary);
    font-size: 0.87rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  input,
  select {
    border-radius: var(--radius-md);
    padding: 0.87rem 1rem;
    margin-top: 0.25rem;
    font-size: 1rem;
    transition: all 0.2s ease;

    &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 0 3px rgb(59 130 246 / 0.1);
    }
  }

  select {
    background-image: url("/down.png"); /* ok ikonu */
    background-repeat: no-repeat;
    background-position: right 1.3rem center;
    background-size: 0.6rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
